<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace = "dao.daoInterface">
	<select id="selectAddr1" parameterType="java.util.HashMap">
		SELECT addr1 FROM addr1 WHERE addr1No = #{addr1No}
	</select>
</mapper>