<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.daoInterface">
   <insert id="insertApply" parameterType="java.util.HashMap">
      INSERT INTO apply VALUES (#{boardNo}, #{rewardNo}, #{contactAnswer}, 
      #{content}, #{user_index}, 1)
   </insert>
   
   <update id="updateApply" parameterType="java.util.HashMap">
      UPDATE apply SET rewardNo=#{rewardNo}, contactAnswer=#{contactAnswer}, 
      content=#{content} WHERE boardNo=#{boardNo}
   </update>
   <select id = "selectApply" parameterType = "java.util.HashMap" resultType = "java.util.HashMap">
	Select * from apply 
	where boardNo = #{boardNo} and user_index = #{user_index} 
   </select>
   <select id="selectAllApplyByBoardNo" parameterType="int" resultType="java.util.HashMap">
      SELECT * FROM apply WHERE boardNo=#{boardNo}
   </select>
   
   <select id="selectAllApplyByUserIndex" parameterType="int" resultType="java.util.HashMap">
      SELECT * FROM apply WHERE user_index=#{user_index}
   </select>
   <delete id="deleteApply" parameterType="int">
      DELETE * from apply where boardNo = #{boardNo} 
   </delete>

</mapper>