<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IQuestDao">
	<!-- contact mapper -->

	<sql id="content">
		<choose>
			<when test="content != ''">
				#{content}
			</when>
			<otherwise>
				'내용없음'
			</otherwise>
		</choose>
	</sql>

	<sql id="reward2">
		<choose>
			<when test="reward2 != ''">
				#{reward2}
			</when>
			<otherwise>
				''
			</otherwise>
		</choose>
	</sql>

	<sql id="reward3">
		<choose>
			<when test="reward3 != ''">
				#{reward3}
			</when>
			<otherwise>
				''
			</otherwise>
		</choose>
	</sql>

	<select id="selectContact" parameterType="int" resultType="String">
		select contact from contact where contactNo= #{contactNo}
	</select>

	<insert id="insertBoard" parameterType="java.util.HashMap">
		INSERT INTO board
		VALUES(#{boardFlag}, 0, 0,
		#{userIndex}, sysdate(), 0, 0,
		#{title}, #{addrNo},
		#{reward1},
		<include refid="reward2"></include>
<!-- 		#{reward2} -->
		,
		<include refid="reward3"></include>
<!-- 		#{reward3} -->
		, #{people}, #{contactNo},
		#{stTime},
		#{playTime},
		<include refid="content"></include>
		)
	</insert>

	<update id="updateBoard" parameterType="java.util.HashMap">
		UPDATE board SET
		boardFlag=#{boardFlag}, bCompleteFlag=#{bCompleteFlag},
		date =
		sysdate(), policeCount=#{policeCount}, readCount=#{readCount},
		title=#{title}, addrNo=#{addrNo}, reward1=#{reward1},
		reward2=#{reward2},
		reward3=#{reward3}, people=#{people},
		contactNo=#{contactNo}, stTime=#{stTime},
		playTime=#{playTime},
		content=#{content}
		WHERE boardNo=#{boardNo}
	</update>

	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE
		boardNo=#{boardNo}
	</delete>

	<select id="getBoardCount" parameterType="int" resultType="int">
		select count(*) from board where boardFlag = #{boardFlag}
	</select>

	<select id="getCountBoardByUserIndex" parameterType="int"
		resultType="int">
		select count(*) from board where userIndex=#{userIndex}
	</select>

	<select id="selectBoardLimit" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select * from board order by num desc
		limit #{skip},
		#{count}
	</select>

	<select id="selectBoardOne" parameterType="int" resultType="java.util.HashMap">
		SELECT * FROM board WHERE boardNo=#{boardNo}
	</select>

	<select id="selectBoardAll" resultType="java.util.HashMap">
		SELECT * FROM board
	</select>

	<select id="selectBoardByContent" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT * from board
		where boardFlag = #{boardFlag} 
		<if test="area != null">
		and (1 = 0 
			<foreach item="addrno" collection="area">
			 	or addrNo = #{addrno}
			</foreach>
			or 1 = 1
			)
		</if>
		
		<if test="searchKey != null and searchKey != ''">
			and title like CONCAT('%',#{searchKey},'%')
		</if>
		 order by boardNo desc
		limit #{skip}, #{count}
	</select>
	<select id="selectBoardByWriter" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT * from board
		where boardFlag = #{boardFlag}
		<if test="area != null">
		and (1 = 0 
			<foreach item="addrno" collection="area">
			 	or addrNo = #{addrno}
			</foreach>
			or 1 = 1
			)
		</if>
		<if test="searchKey != null and searchKey != ''">
			and userIndex like CONCAT('%',#{searchKey},'%')
		</if>
		
		order by boardNo desc
		limit #{skip}, #{count}
	</select>
	<select id="getBoardCountByWriter" parameterType="int"
		resultType="int">
		select count(*) from board
		where boardFlag = #{boardFlag}
		<if test="userIndex != null and userIndex != ''">
			or userIndex = #{userIndex}
		</if>
		<if test="areaList != null">
		
			<foreach item="addrno" collection="areaList">
				or addrNo = #{addrNo}
			</foreach>
		</if>
	</select>
	<select id="getBoardCountByContent" parameterType="int"
		resultType="int">
		select count(*) from board
		where boardFlag = #{boardFlag}
		<if test="searchKey != null and searchKey != ''">
			or title like CONCAT('%',#{searchKey},'%')
		</if>
		<if test="area != null">
			<foreach item="addrNo" collection="area">
				or addrNo = #{addrNo}
			</foreach>
		</if>
	</select>
	<select id="isMyBoard" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select * from board where boardNo=#{boardNo} and
		userIndex=#{userIndex}
	</select>

	<select id="selectBoardByUserIndex" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select * from board
		where boardFlag = #{boardFlag}
		<if test="userIndex != null and userIndex != ''">
			and userIndex = #{userIndex}
		</if>
		order by boardNo desc
		limit #{skip}, #{count}
	</select>
	
	<select id="getCountBoardComplete" parameterType="int" resultType="int">
		select count(*) from board, score where
		board.boardNo=score.boardNo and
		board.userIndex=#{userIndex} and
		board.bCompleteFlag = 1
	</select>

	<select id="selectBoardComplete" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		select * from board, score where
		board.boardNo=score.boardNo and
		board.userIndex=#{userIndex} and
		board.bCompleteFlag = 1
		order by board.boardNo desc
		limit #{skip}, #{count}
	</select>


</mapper>