<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IQuestDao">
	<!-- contact mapper -->
	
	<select id="selectContact" parameterType="int" resultType="String">
		select contact from contact where contactNo= #{contactNo}
	</select>

	<insert id="insertBoard" parameterType="java.util.HashMap">
		INSERT INTO board VALUES(#{boardFlag}, 0, #{boardNo},
		#{userIndex},
		sysdate(), 0, 0, #{title}, #{addrNo},
		#{reward1}, #{reward2}, #{reward3}, #{people}, #{contactNo}, #{stTime},
		#{playTime},
		#{content})
	</insert>

	<update id="updateBoard" parameterType="java.util.HashMap">
		UPDATE board SET boardFlag=#{boardFlag}, bCompleteFlag=#{bCompleteFlag},
		date=#{date}, policeCount=#{policeCount}, readCount=#{readCount},
		title=#{title},
		addrNo=#{addrNo}, reward1=#{reward1}, reward2=#{reward2},
		reward3=#{reward3}, people=#{people}, contactNo=#{contactNo}, stTime=#{stTime},
		playTime=#{playTime}, content=#{content} WHERE boardNo=#{boardNo}
	</update>

	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE boardNo=#{boardNo}
	</delete>
	
	<select id="getBoardCount" resultType="int">
		select count(*) from board
	</select>
	
	<select id="selectBoardLimit" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from board order by num desc 
		limit #{skip}, #{count}
	</select>

	<select id="selectBoardOne" parameterType="int" resultType="java.util.HashMap">
		SELECT * FROM board WHERE boardNo=#{boardNo}
	</select>

	<select id="selectBoardAll" resultType="java.util.HashMap">
		SELECT * FROM board
	</select>
	
	<select id="selectBoard" parameterType="java.util.HashMap"
		resultType="java.util.HashMap">
		SELECT * from board order by boardNo desc
		where boardFlag = #{boardFlag}
		<if test="searchMsg != null and searchMsg != ''">
			or title like CONCAT('%',#{searchMsg},'%')
		</if>
		<if test="userIndex != null and userIndex != ''">
			or userIndex = #{userIndex}
		</if>
		<if test="addrNo != null">
			<foreach item="addrno" collection="addrNo">
				or addrNo = #{addrNo}
			</foreach>
		</if>
	</select>
	
	
	<select id="isMyBoard" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from board where boardNo=#{boardNo} and userIndex=#{userIndex}
	</select>
	
	
</mapper>