<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="dao.IQuestDao">
   <insert id="insertBookMark" parameterType="java.util.HashMap">
      INSERT INTO bookmark VALUES(#{boardNo}, #{userIndex})
   </insert>
    
   <delete id="deleteBookMark" parameterType="java.util.HashMap">
      DELETE FROM bookmark WHERE boardNo=#{boardNo}
   </delete>
   
   
   <select id="selectBookMark" parameterType="java.util.HashMap" resultType="java.util.HashMap">
      SELECT * FROM bookmark WHERE boardNo=#{boardNo} AND userIndex=#{userIndex}
   </select>
   
   <select id = "selectBookMarkByUserIndex" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    	SELECT * FROM bookmark bk, board b 
    	WHERE bk.boardNo=b.boardNo and bk.userIndex=#{userIndex}
    	limit #{skip}, #{count}
   </select>
  
	<select id="getBookmarkByUserIndexCount" parameterType="int" resultType="int">
		SELECT count(*) FROM bookmark bk, board b 
    	WHERE bk.boardNo=b.boardNo and bk.userIndex=#{userIndex}
	</select>

</mapper>