<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="dao.daoInterface">
   <insert id="insertBookMark" parameterType="java.util.HashMap">
      insert into bookmark values(#{boardNo}, #{user_index})
   </insert>
   
   <delete id="deleteBookMark" parameterType="java.util.HashMap">
      delete from bookmark where boardNo=#{boardNo}
   </delete>
   
   <select id="selectBookMark" parameterType="java.util.HashMap" resultType="java.util.HashMap">
      select * from bookmark where boardNo=#{boardNo} and user_index=#{user_index}
   </select>
   

</mapper>