<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="dao.IQuestDao">
  <insert id="insertComment" parameterType="java.util.HashMap">
  	INSERT INTO comment VALUES (#{boardNo}, #{userIndex}, sysdate(), #{content})
  </insert>
    
  <update id="updateComment" parameterType="java.util.HashMap" >
  	UPDATE comment SET content = #{content}, date = sysdate() WHERE 
  	(boardNo = #{boardNo} and userIndex = #{userIndex})
  </update>
  
  <delete id="deleteComment" parameterType="java.util.HashMap">
  	DELETE FROM comment WHERE boardNo = #{boardNo} AND userIndex = #{userIndex}
  </delete>
  
  <select id="selectAllCommentByBoardNo" parameterType="int"
   resultType="java.util.HashMap">
   SELECT * FROM board WHERE boardNo = #{boardNo}
   </select>
   
</mapper>