<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="dao.IQuestDao"> 
	<insert id="insertScore" parameterType="java.util.HashMap">
	INSERT INTO score VALUES (#{user1Index},#{user2Index},#{boardNo},0,0,0)
	</insert>
	<update id="updateScore" parameterType="java.util.HashMap">
	update score set 
	<if test="user1_starPoint != null">
		user1StarPoint = #{user1StarPoint}
	</if>
	<if test="user2_starPoint != null">
		user2StarPoint = #{user2StarPoint}
	</if>
	where boardNo = #{boardNo}
	</update>
	<select id="selectScoreByBoardNo" parameterType="int" resultType="java.util.HashMap">
	SELECT * FROM score WHERE boradNo = #{boardNo} 
	</select>  
	<select id="selectScoreByUserindex" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	SELECT * FROM score WHERE 
	<if test="user1_index != null">
		user1Index = #{user1Index}
	</if>
	<if test="user2_index != null">
		user2Index = #{user2Index}
	</if>  
	</select>  
</mapper>