<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.daoInterface"> 

	<insert id="insertUser" parameterType="java.util.HashMap">
	INSERT INTO user VALUES(0, #{userId}, #{password}, #{nickname}, #{starPoint}, #{doCount})
	</insert>

	<update id="updateUser" parameterType="java.util.HashMap">
	UPDATE user SET password = #{password}, nickname = #{nickname}, starPoint = #{starPoint},
	doCount = #{doCount} WHERE userIndex = #{userIndex}  
	</update>

	<delete id="deleteUser" parameterType="int">
	DELETE FROM user WHERE userIndex = #{userIndex}
	</delete>

	<select id="selectUser" parameterType="int" resultType="java.util.HashMap">
	SELECT * FROM user WHERE userIndex = #{userIndex}
	</select>
	
	<select id="selectUserId" parameterType="String" resultType="java.util.HashMap">
	SELECT * FROM user WHERE userId = #{userId}
	</select>
	
	
	
</mapper>